.button,
.input,
.tag {
  appearance: none;
  border: 0;
  border-radius: 0.25rem;
  color: inherit;
  font-size: var(--text-md);
  line-height: 1.2;
  font-family: inherit;
  transition-duration: 0.25s;
}

.button,
.tag {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: var(--space-2xs) var(--space-sm);
  gap: var(--space-3xs);
  background-color: var(--color-bg-dark);
  cursor: pointer;
  transition-property: background-color, color;
  user-select: none;
}

.button:hover,
.tag:hover {
  background-color: var(--color-bg-darker);
}

.button__icon {
  height: var(--text-md);
  stroke: var(--color-text);
  width: var(--text-md);
  transition-duration: 0.25s;
  transition-property: stroke;
}
