/*(+)*/
.property-list__item {
	/*align-items: baseline;
	border-bottom: 4px solid var(--color-bg-dark);*/
	border-bottom: 4px dotted var(--color-bg-dark);
	/*display: flex;*/
	display: grid;
	/*gap: var(--space-sm);*/
	grid-gap: var(--space-2xs) var(--space-sm);
	grid-template-columns: repeat(3, minmax(0, 1fr));
	/*justify-content: space-between;*/
	padding: var(--space-sm) 0;
}

.property-list__item:first-of-type {
	padding-top: 0;
}

.property-list__item:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
}

.property-list__property,
.property-list__value {
	font-size: var(--text-lg);
}

.property-list__value {
	color: var(--color-gray-light);
	font-size: var(--text-md);
	grid-column: span 2;
}

@media screen and (max-width: 64rem) {
	.property-list__item {
		grid-template-columns: none;
	}
	.property-list__value {
		grid-column: auto;
	}
}
