.property-list__item {
  /*display: flex;*/
  display: grid;
  /*align-items: baseline;
  gap: var(--space-sm);
  border-bottom: 4px solid var(--color-bg-dark);*/
  border-bottom: 4px dotted var(--color-bg-dark);
  grid-gap: var(--space-2xs) var(--space-sm);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /*justify-content: space-between;*/
  padding: var(--space-sm) 0;
}

.property-list__item:first-of-type {
  padding-top: 0;
}

.property-list__item:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}

.property-list__property,
.property-list__value {
  font-size: var(--text-lg);
}

.property-list__value {
  grid-column: span 2;
  color: var(--color-gray-light);
  font-size: var(--text-md);
}

@media screen and (max-width: 64rem) {
  .property-list__item {
    grid-template-columns: none;
  }
  .property-list__value {
    grid-column: auto;
  }
}
