.search-field {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--max-width-sm);
  margin-right: auto;
  margin-left: auto;
  padding-bottom: var(--space-3xs);
  gap: var(--space-2xs);
  border-bottom: 4px solid var(--color-bg-dark);
  background-color: var(--color-bg);
  transition-duration: 0.25s;
  transition-property: border-color;
}

.search-field:focus-within {
  border-color: var(--color-gray-dark);
}

.search-field:focus-within:hover {
  border-color: var(--color-gray-dark);
}

.search-field:hover {
  border-color: var(--color-bg-darker);
}

.search-field__icon {
  flex-shrink: 0;
  height: var(--text-xl);
  stroke: var(--color-text);
  width: auto;
}

.search-field__input {
  width: 100%;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: var(--text-xl);
}

.search-field__input::placeholder {
  color: var(--color-gray-light);
}
