.section__header,
.section__content {
  max-width: var(--max-width-md);
  margin-right: auto;
  margin-left: auto;
}

.section__header {
  margin-bottom: var(--space-lg);
}

.section__title {
  margin-bottom: var(--space-md);
  color: var(--color-title);
  font-style: italic;
  font-weight: 700;
  font-size: var(--text-4xl);
  line-height: 1.1;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

@media screen and (max-width: 48rem) {
  .section__title {
    font-size: var(--text-2xl);
  }
}
